/* share style */
body {
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.primary-btn {
  border-radius: 5px;
  background: #fd6e0a !important;
  border: 0;
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 16px 35px;
}
/* nav style here */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 130px;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
/* header releted style */
.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png"),url("/images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, top left;
  background-size: 50%;
}
.bannar {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
}
.bannar .mai-img {
  width: 250px;
}
.banner-greating {
  color: #474747;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 0px;
}
.banner-title {
  color: #181818;
  font-size: 70px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 20px;
}
.bannar-content {
  max-width: 500px;
}
.bannar-description {
  color: #757575;
  font-size: 18px;
}
.content {
  background-color: #fff8f3;
  color: #fd6e0a;
  border: 2px solid #fd6e0a;
  padding: 14px 35px;
  margin-left: 25px;
}
/* main section */
/* about me  */
.about {
  padding: 0 130px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 0;
}
.section-title {
  color: #181818;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  margin-top: 130px;
}
.section-discription {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
section {
  max-width: 1140px;
  margin: 0 auto;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
}
.info-title {
  color: #757575;
  font-size: 20px;
  font-weight: 400;
}
.info-discription {
  color: #474747;
  font-size: 20px;
  font-weight: 700;
}
/* skill releted style */
.skill-container {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 30px;
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
.skill-description {
  color: #474747;
  font-size: 16px;
  font-weight: 400;
}
#what-i-do-dis {
  padding: 30px 150px;
  color: #757575;
  font-size: 18px;
}
/* resume section style */
.resume-colunm-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
.resume-container {
  display: flex;
  gap: 36px;
}
.resume-colunm {
  padding: 0 20px;
}
.resuem-item-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.resume-item-instution {
  color: #757575;
  font-size: 20px;
  margin: 0 0 0 20px;
}
.resume-item-discription {
  color: #757575;
}
.resume-container hr {
  margin: 30px;
}
.download-cv {
  text-align: center;
  margin-top: 50px;
}
footer {
  display: flex;
  background-color: #fff8f3;
  padding: 0 70px;
  margin-top: 120px;
  gap: 10px;
}
.footer-column {
  width: 50%;
}
.contact input[type="text"],
.contact input[type="email"],
textarea {
  display: block;
  margin-bottom: 24px;
  padding: 18px 35px;
  color: #757575;
  border-radius: 5px;
  background: #fff;
  border: 0;
  width: 90%;
}
.contact > .primary-btn {
  color: aliceblue !important;
}
.social-icon a {
  margin: 15px;
}
